@import "../utils/colors.css";

body{
    margin:0;
}

header {
    display:flex;
    
    justify-content: flex-end;
    width: 100%;
    align-self: start;
   
    background: white;
    box-shadow:  -5px 5px 6px 6px white;
}
.mainContainer {
    /* background-image: url("../assets/cloudBackground.jpeg"); */
    background-size: 100% 100%;
    background-image: linear-gradient(var(--malibu), var(--onahau), #ffffff);
    display: flex;
    flex:1;
    height: 100vh;
    flex-direction:column;
    align-content: space-evenly;
}

.container {
    display: flex;
    flex:1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;   
    margin-top:3em;
    margin-left: 10%;
    margin-right: 10%;
}

.titleArea {
    display: flex;
    flex:1;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
}

.titleArea  p {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 400%;
    color:var(--mardiGras);
    font-family: 'Courgette', cursive;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    word-wrap: middle;
    flex:1;
}
img {
    align-self: flex-start;
    margin-left: 80px;
}

.imgContainer {
   flex:1;
}

.welcomeButton {
    background: #ffffff;
    padding: 5px;
    background: transparent;
    border:none !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    width:30%;
    color: var(--malibu) !important;
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
     font-size: 180%;
    border-radius: 6px;
}

.welcomeButton:hover {
    color: #ffffff !important;
background: var(--violetBlue);

transition: all 0.4s ease 0s;
    }
  

.navigationArea{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
     width: 40%;
    align-self: flex-end;
    margin-right: 10%;
}

input[type=text], select {
    background-color: white;
    display: flex;
    width:90%;
    padding: 12px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    /* border: 2px solid var(--mardiGras); */
    border-radius: 6px;
    /* background: white; */
    box-shadow:  5px 6px 6px var(--mardiGras);
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
  }

  input[type=password], select {
    background-color: white;
    display: flex;
    width:90%;
    padding: 12px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    /* border: 2px solid var(--mardiGras); */
    border-radius: 6px;
    /* background: white; */
    box-shadow:  5px 6px 6px var(--mardiGras);
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
  }
  
input[type=submit] {
    display: flex;
    background-color:white;
    color: var(--malibu) !important;
    padding: 14px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 100;
  font-family: 'Averia Sans Libre', cursive;
   font-size: 180%;
  margin-top: 10px;
  box-shadow:  5px 6px 6px var(--mardiGras);
  }
  form {
      width:100%;
  }

  .labelTitle {
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
  }
  
  input[type=submit]:hover {
    background-color: var(--violetBlue);
  }
  
.formArea {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 40%;
}

