body {
    margin:0;
    background: #000514;
    display: flex;
    flex:1;
    flex-direction: column;
}

.mainContainer {
    background-size: 100% 100%;
    display: flex;
    flex:1;
    height: 100vh;
    flex-direction:column;
}

header {
    display:flex;
    width: 100%;
    align-self: flex-start;
}

.logo {
    align-self: flex-start;
    margin-left: 80px;
    flex:1;
}

.userCircle {
   background: #60BFF2;
   display: flex;
   justify-content:center ;
   width:50px;
   height: 50px;
   border-radius: 30px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left:10px;
   margin-right:10px;
   border:none !important;
} 

.userInitials {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:#000514;
    margin-top: auto;
    margin-bottom: auto;
}

.userName {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 20px;
    color:#FFFFF0;
    margin-top: auto;
    margin-bottom: auto;
}

.profileDetails {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-end;
    padding-right: 50px;
}


.uploadDetails{
    margin-top: 20px;
}
.progressText {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:#3F1842;
    margin-left: 50px;
    
}




table {
    margin-top:20px;
    font-family: 'Averia Sans Libre', cursive;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 1px solid #3F1842;
    text-align: left;
    padding: 8px;
  }

  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 6px;
    min-width: 200px;
    z-index: 1;
    margin-top: 70px;
  }

  .dropdown-content a {
    padding: 12px 16px;
    font-family: 'Averia Sans Libre', cursive;
    color:#3F1842;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
      color: #fc037b;
  }


.filesList{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.file {
    display: flex;
    flex-direction: row;
    margin-top:50px;
    
}

.fileTitle {
    color:#FFFFF0;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 120%;
}

.fileLink {
    color:#FFFFF0;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 120%;
    margin-left: 20px;
    background-color:  #0BD54F;
    border:none !important;
    border-radius: 6px;
    padding:5px;
}

.fileInfo {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    align-items:center;
}

.fileIcon {
    margin-left: 100px;
    margin-top: auto;
    margin-bottom: auto;
}


  
