body {
    margin:0;
    background:#000514;
    display: flex;
    flex-direction: column;
}

.mainContainer {
    background-size: 100% 100%;
    display: flex;
    flex:1;
    height: 100vh;
    flex-direction:column;
}

header {
    display:flex;
    width: 100%;
    align-self: flex-start;

}

img {
    align-self: flex-start;
    margin-left: 80px;
    flex:1;
}

.userCircle {
   background: #60BFF2;
   display: flex;
   justify-content:center ;
   width:50px;
   height: 50px;
   border-radius: 30px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left:10px;
   margin-right:10px;
   border:none !important;

} 

.userInitials {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:#000514;
    margin-top: auto;
    margin-bottom: auto;
}

.userName {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 20px;
    color:#FFFFF0;
    margin-top: auto;
    margin-bottom: auto;
}

.profileDetails {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-end;
    padding-right: 50px;
}


.progresBarWrapper {
    width: 70%;
    background-color:#FFFFF0;
    border-radius: 25px;
    margin-left: 50px;
}

.progressBar {
    width: 3%;
    height: 30px;
    background-color: #0BD54F;
    text-align: center;
    line-height: 30px; 
    color: white;
    border-radius: 25px;
}

.upload-files {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
}

.chosen-file {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 150%;
    color:#FFFFF0;
    margin-left: 5px;
    margin-top: 20px;
}

.choose-file-area{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   align-items: center;
width:100%;
}

.uploadDetails{
    margin-top: 20px;
}
.progressText {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:#FFFFF0;
    margin-left: 50px;
    
}



.metadataDownloadButton{
    padding: 5px;
    background: #FFFFF0;
    border:none !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    min-width:20%;
    color: #000514 !important;
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
    font-size: 150%;
    border-radius: 6px;
    margin-left: 50px;
    margin-top: 20px;
}
.startButton {
    padding: 5px;
    background: #FFFFF0;
    border:none !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    width:30%;
    color: #000514 !important;
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
     font-size: 150%;
    border-radius: 6px;
    margin-left: 50px;
    margin-top: 20px;

}

.startButton:hover {
    color: #ffffff !important;
     background: #0BD54F;
     transition: all 0.4s ease 0s;
 }
.metadataDownloadButton{
    visibility: hidden;
}
.metadataDownloadButton:link, .metadataDownloadButton:visited {
    padding: 5px;
    background: #FFFFF0;
    border:none !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    min-width:20%;
    color: #000514 !important;
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
     font-size: 150%;
    border-radius: 6px;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .metadataDownloadButton:hover, .metadataDownloadButton:active {
    color: #ffffff !important;
    background: #0BD54F;
    transition: all 0.4s ease 0s;
  }

.progressBarContainer {
    display: none;
}    

table {
    margin-top:20px;
    font-family: 'Averia Sans Libre', cursive;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color:#FFFFF0;
    margin-bottom: 100px;
  }
  
  td, th {
    border: 1px solid #60BFF2;
    text-align: left;
    padding: 8px;
  }

.firstRow {
    background-color: #60BFF2;
    color:#000514;
}  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 6px;;
    min-width: 200px;
    z-index: 1;
    margin-top: 70px;
  }


  .dropdown-content a {
    padding: 12px 16px;
    font-family: 'Averia Sans Libre', cursive;
    color:#3F1842;
    text-decoration: none;
    display: block;
  }

 .accountBtn{
    color: #000514;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #EF626C !important;
    padding: 10px;
    background: transparent;
    border:none !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
     font-size: 110%;
    border-radius: 6px;
  }
  .green {
    background-color: #0BD54F !important;
  }

  .labelTitle {
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
  }

  .accounts {
      display:flex;
      flex-wrap: wrap;
      min-width:50%;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .errorMessage {
      color:#FF0000;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 18px;
  }


