@import "../utils/colors.css";

body {
    margin:0
}

.mainContainer {
    /* background-image: url("../assets/cloudBackground.jpeg"); */
    background-size: 100% 100%;
    background-image: linear-gradient(var(--malibu), var(--onahau), #ffffff);
    display: flex;
    flex:1;
    height: 100vh;
    flex-direction:column;
    align-content: space-evenly;
}

header {
    display:flex;
    width: 100%;
    align-self: start;
    background: white;
    box-shadow:  -5px 5px 6px 6px white;
}

img {
    align-self: flex-start;
    margin-left: 80px;
    flex:1;
}

.userCircle {
   background: var(--mardiGras);
   display: flex;
   justify-content:center ;
   width:50px;
   height: 50px;
   border-radius: 30px;
   margin-top: auto;
   margin-bottom: auto;
   margin-left:10px;
   margin-right:10px;

} 

.userInitials {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:white;
    margin-top: auto;
    margin-bottom: auto;
}

.userName {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:var(--malibu);
    margin-top: auto;
    margin-bottom: auto;
}

.profileDetails {
    display: flex;
    flex-direction: row;
    flex:1;
    justify-content: flex-end;
    padding-right: 50px;
}


#progresBarWrapper {
    width: 70%;
    background-color:var(--aliceBlue);
    border-radius: 25px;
    margin-left: 50px;
}

#progressBar {
    width: 3%;
    height: 30px;
    background-color: var(--mardiGras);
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
    border-radius: 25px;
}

/* #progressBarText {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:var(--mardiGras);
    margin-left: 50px;
} */

.uploadDetails{
    margin-top: 20px;
}
.progressText {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 18px;
    color:var(--mardiGras);
    margin-left: 50px;
    
}

#startButton {
    background: #ffffff;
    padding: 5px;
    background: white;
    border:none !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
    min-width:20%;
    color: var(--malibu) !important;
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
     font-size: 180%;
    border-radius: 6px;
    margin-left: 50px;
    margin-top: 20px;
}

#startButton:hover {
    color: #ffffff !important;
background: var(--violetBlue);

transition: all 0.4s ease 0s;
    }

#progressBarContainer {
    display: none;
}    

table {
    margin-top:20px;
    font-family: 'Averia Sans Libre', cursive;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 1px solid var(--mardiGras);
    text-align: left;
    padding: 8px;
  }

#firstRow {
    background-color: var(--mardiGras);
    color:white;
}  
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border-radius: 6px;;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 50px;
  }


  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-family: 'Averia Sans Libre', cursive;
    color:var(--mardiGras);
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    color: #fc037b;
}

  .profileDetails:hover .dropdown-content {display: block;}

  input[type=text] {
    background-color: white;
    height: 10px;
    min-width: 10%;
    display: flex;
    padding: 12px 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right:5px;
    border-radius: 6px;
    box-shadow:  5px 6px 6px var(--mardiGras);
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
  }

  .labelTitle {
    font-weight: 100;
    font-family: 'Averia Sans Libre', cursive;
  }

  .accounts {
      display:flex;
      flex-wrap: wrap;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  #errorMessage {
      color:red;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 5px;
      font-family: 'Averia Sans Libre', cursive;
      font-size: 18px;
  }
