<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Universal Storage Tool">
    <meta name="keywords" content="project, infoiasi, web, stol, HTML, CSS, JavaScript, C++, Web Assembly">
    <meta name="author" content="Ivanov Mihai-Cosmin, Maniga Ioana, Arhire Paul-Andrei">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/documentation/styles.css" type="text/css">
    <title>Documentatie STOL</title>
</head>

<body>
    <header>
        <h1 class="title">DOCUMENTATIE "CLOUDSHEETS"</h1><br>
    </header>
    <div role="contentinfo" style="font-size:1vw">
        <section typeof="sa:AuthorsList">
            <h2>AUTORI</h2>
            <ul>
                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person">
                        <meta property="schema:givenName" content="Mihai-Cosmin">
                        <meta property="schema:additionalName" content="C.">
                        <meta property="schema:familyName" content="Ivanov">
                        <span property="schema:name">Mihai-Cosmin C. Ivanov</span>
                    </span>
                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:mcivanov99@gmail.com" property="schema:email">mcivanov99@gmail.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person">
                        <meta property="schema:givenName" content="Ioana">
                        <meta property="schema:additionalName" content="V.">
                        <meta property="schema:familyName" content="Maniga">
                        <span property="schema:name">Ioana V. Maniga</span>
                    </span>
                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:ioana.mna@gmail.com" property="schema:email">ioana.mna@gmail.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person">
                        <meta property="schema:givenName" content="Paul-Andrei">
                        <meta property="schema:additionalName" content="M.">
                        <meta property="schema:familyName" content="Arhire">
                        <span property="schema:name">Paul-Andrei M. Arhire</span>
                    </span>
                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:paul_man70@yahoo.com"
                                property="schema:email">paul_man70@yahoo.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Cuprins</h2>
            <ol role="directory">
                <li><a href="#documentation"><span>1.</span>Descrierea proiectului</a>
                <li><a href="#doc-front"><span>2. </span>Documentare front-end</a></li>
                    <ol role="directory">
                        
                        <li><a href="#pages"><span>1.1. </span>Paginile proiectului</a></li>
                        <li>
                            <ol role="directory">
                                <li><a href="#welcome"><span>1.1.1. </span>Welcome page</a></li>
                                <li><a href="#main"><span>1.1.2. </span>Main page</a></li>
                                <li><a href="#files"><span>1.1.3. </span>Your Files</a></li>
                                <li><a href="#settings"><span>1.1.4. </span>Settings</a></li>
                                <li><a href="#admin"><span>1.1.5. </span>Admin page</a></li>
                            </ol>
                        </li>
                        <li><a href="#header"><span>1.2. </span>Headerul</a></li>
                    </ol>
                
                <li><a href="#doc-back"><span>3. </span>Documentare back-end</a></li>
                <ol role="directory">
                    <li><a href="#arhitectura"><span>3.1. </span>Arhitectura generala</a></li>
                            <li><ol role="directory">
                                <li><a href="#router"><span>3.1.1. </span>Router</a></li>
                                <li><a href="#templateuri"><span>3.1.2. </span>Templateuri</a></li>
                                <li><a href="#login"><span>3.1.3. </span>Login</a></li>
                                <li><a href="#token"><span>3.1.4. </span>Token autentificare</a></li>
                                <li><a href="#cacheuri"><span>3.1.5. </span>Cacheuri</a></li>
                                <li><a href="#modele"><span>3.1.6. </span>Models</a></li>
                            </ol>
                            <li><a href="#oauth"><span>3.2. </span>OAuth</a></li>
                            </li>
                            <li><a href="#wasm"><span>3.3. </span>WebAssembly</a></li>
                            <li><ol role="directory">
                                <li><a href="#splitter"><span>3.1.1. </span>Splitter</a></li>
                            </ol>
                        </ol>
                <li><a href="#etape"><span>4. </span>Etape de dezvoltare</a></li>
                <li><a href="#references"><span>5. </span>References</a></li>
                
                
                
        </section>
        <section >
            <h2 id="documentation">Introducere in site</h2>
            <h3>Link prezentare video: </h3>
            <a href="https://youtu.be/84tI4-L9FhI">Prezentare video</a>
            <h2 id="doc-front">Front-endul</h2>
            <pre>
                STOL (Universal Storage Tool) este o aplicatie web care pune la dispozitia utilizatorului un instrument ce permite operatiile uzuale cu (sisteme de) fisiere de mari dimensiuni.
                Aplicatia noastra permite stocarea acestor fisiere prin intermediul platformelor Dropbox, One Drive si Google Drive. Astfel, prin logarea pe conturile proprii,
                userii pot stoca orice fisier de mari dimensiui, pe care il pot ulterior si descarca din sectiunea "Your files". De asemenea, userul poate selecta si metoda de 
                distributie a fisierelor intre platforme, din sectiunea "Settings".
           </pre>
           <h2>Sigla siteului (utilizata in format svg):</h2>
           <img src="../static/assets/sigla.svg" alt="sigla" class="center">
            <h2 id="pages">Paginile site-ului:</h2>
                <h4>Nota: Toate iconurile utilizate in aplicatie sunt create de noi in aplicatia AdobeXD.</h4>
                <h3 id="welcome">1.Welcome Page</h3>
                <p>Este reprezentata de pagina de log in/get started,continand:</p>
                <ul>
                    <li ><h4>-Mesaj de intampinare "Welcome to CloudSheets"</h4>
                        <img src="../static/assets/title.svg" alt="totlu" class="center">
                    </li>
                    <li>
                        <h4>-Doua butoane:</h4>
                        <ul>
                           <li>-“Log in”, care permite logarea utilizatorului</li> 
                           <li>-“Get started”, care permite inregistrarea unui nou cont</li>
                        </ul>
                    </li>
               </ul>   

                <img src="../static/assets/documentation/welcome-buttons.png" alt="cod1" class="center">
                <pre>
                 Butoanele isi schimba aspectul la hover, iar pentru click, butoanele de log in si get started primesc isi schimba culoarea,desemnand sectiunea selectata.
                </pre>
                <img src="../static/assets/documentation/welcome-buttons-hover.png" alt="cod2" class="center">
                
    
                <h3 id="main">2.Main page</h3>
                <p >
                    Aceasta reprezinta pagina pe care userul, odata logat, poate sa uploadeze fisiere.
                    Aceasta pagina contine:</p>
                <h4>-Trei butoane:</h4>    
                <ul>
                    <li>-Your Dropbox: permite logarea cu Dropbox</li>
                    <li>-Your Google Drive: permite logarea cu Google Drive</li>
                    <li>-Your One Drive: permite logarea cu One Drive</li>
                </ul>
                <img src="../static/assets/documentation/account-buttons.png" alt="cod11" class="center">
                <h4>-Butonul de "Choose file"</h4>
                <pre>Acest buton permite rasfoirea prin fisierele locale, aparand alaturi de el numele fisierului ales</pre>
                <h4>-Butonul de "Upload file"</h4>
                <pre>Acest buton apare atunci cand exista deja un file selectat,odata cu numele fisierului</pre>
                <img src="../static/assets/documentation/show-name.png" alt="cod3" class="center">
                <h4>-Tabelul cu numele de fisiere</h4>
                <pre>Acest tabel va contine numele tuturor fisierelor-fragment in care este fragmentat fisierul de dimensiuni mari si locatia acestora(e.g. Google Drive)</pre>
                 
                <h3 id="files">3.Your files</h3>
                <p>Pe aceasta pagina, un user poate gasi toate fisierele pe care le-a uploadat pe site, dimensiunea lor, si, pentru fiecare, un buton de download</p>
                <p>Pentru a face display la toate fisierele disponibile, am folosit functiile: </p>
                <ul>
                    <li>
                        Pentru a obtine fisierele: 
                        <img src="../static/assets/documentation/get-user-files.png" alt="cod4" class="center">
                    </li>
                    <li>
                        Pentru a afisa fisierele:
                        <img src="../static/assets/documentation/show-files.png" alt="cod5" class="center">
                    </li>
                </ul>

                <h3 id="settings">4.Settings</h3>
                <p>Pe pagina de setari, un user isi poate schimba numele, parola, sau modul de upload</p>
                <p>Pagina contine un formular, care va prelua modificarile cerute si le va trimite prin butoul Save</p>
                <img src="../static/assets/documentation/form.png" alt="cod6" class="center">
                <p>In momentul salvarii, apare un mesaj de confirmare,in caz de reusita,sau mesaj de eroare in cazul in care setarile nu sunt salvate</p>
                <pre>Aici sunt verificate si cazurile in care parola noua si confirmarea ei nu corespund,sau parola actuala nu e corecta.</pre>
                

                <h3 id="admin">5.Pagina de Admin</h3>
                <p>Pe pagina de admin se poate intra numai de pe un cont special de admin, unde sunt afisati toti userii aplicatiei.</p>
                <p>Adminul poate selecta cati useri doreste din lista, pentru a exporta date despre aceastia in format csv</p>
                <h4>-Lista userilor:</h4>
                <ul>
                    <li>
                        Pentru a obtine si afisa userii:
                        <img src="../static/assets/documentation/show-clients.png" alt="cod7" class="center">
                    </li>
                    <li>
                        Prin selectarea unui user, butonul isi schimba culoarea, iar emailul userului este pus in vectorul clientilor selctati:
                        (daca exista macar un user selectat, apare si butonul de export)
                        <img src="../static/assets/documentation/click-user.png" alt="cod8" class="center">
                    </li>
                </ul>
                <h4>-Butonul Export</h4>
                <p>Acest buton permite downloadarea datelor in format csv</p>
                <ul>
                    <li>
                        Pentru a descarca datele am folosit functia:
                        <img src="../static/assets/documentation/download.png" alt="cod9" class="center">
                    </li>
                    <li>
                        Pentru a obtine si descarca datele in format CSV am folosit functia:
                        <img src="../static/assets/documentation/download-csv.png" alt="cod10" class="center">
                    </li>
                </ul>
        <h2 id="#header">Headerul:</h2>
            <p>Odata ce userul este logat, headerul va contine in partea dreapta numele sau si un buton rotund cu initialele.</p>
            <img src="../static/assets/documentation/username.png" alt="cod12" class="center">
            <p>Prin apasarea butonului, se va deschide un meniu, care va permite navigarea intre paginile site-ului, sau delogarea</p>
            <img src="../static/assets/documentation/dropdown-menu.png" alt="cod13" class="center">
            <p>Pentu admin, in acelasi va fi titlul de "Administrator page" impreuna cu un icon ce indica rolul de administrator, folosit tot in format svg</p>   
            <img src="../static/assets/admin.svg" alt="admin" class="center">

            <h2 id="doc-back">Back-endul</h2>
            <h2 id="arhitectura">Arhitectura proiectului</h2>
            <pre>
                Arhitectura proiectului este una clasica asemanatoare cu o arhitectura generala de proiect de Express.js, 
                dar totul a fost construit de noi, fara a ne folosi de alte biblioteci/frameworkuri.
           </pre>
           <h2>Diagrama arhitecturala:</h2>
           <img src="../static/assets/documentation/arhitectura.jpg" alt="arhitectura" class="center">
           <h3 id="router">Router</h3>
           <pre>
               Rutarea se face prin parsarea requestului prin mai multe metode, in functie de tipul lui.
               Ea suporta orice fel de verbe HTTP, default-ul fiind "GET"
           </pre>
           <h3>Obiectul router:</h3>
           <img src="../static/assets/documentation/router.jpg" alt="router" class="center">
           <h3>Tratarea unui request:</h3>
           <img src="../static/assets/documentation/request.jpg" alt="request" class="center">
           <h3>Parsarea body-ului de tip FormData</h3>
           <img src="../static/assets/documentation/formdata.jpg" alt="formdata" class="center">


           <h3 id="templateuri">Templateuri</h3>
           <pre>
               Templateurile noastre sunt simple, ele permit doar servirea parametrilor de tipuri string, number, fara posibilitatea de a face instructiuni repetitive.
            </pre>
            <h3>Cod servire templateuri:</h3>
           <img src="../static/assets/documentation/template.jpg" alt="router" class="center">

           <h3 id="login">Login</h3>
           <pre>
               Loginul se face cu ajutorul clasicei combinatii de email si parola. Aici au fost facute verificari simple impotriva sqlinjection si cross site scripting
            </pre>
           <h3 id="token">Token</h3>
           <pre>
               Odata cu logarea se genereaza un token random de lungime (disputabil) mare.
               Acesta este adaugat intr-un cache pe server, impreuna cu alte date despre user pentru o viteza mai mare a verificarilor. 
               Acest lucru a fost inspirat de la aplicatiile de anvergura mare care folosesc asta pentru a rezolva probleme de scalabilitate.
               Tokenul este verificat la fiecare ruta si este pus in headere cu ajutorul "Set-Cookie".
               El este sters in momentul in care utilizatorul foloseste ruta de logout.
            </pre>
           <h3 id="cacheuri">Cacheuri</h3>
           <pre>
               Siteul dispune de doua tipuri de cacheuri. 
               Unul este cel presentat mai devreme la sectiunea token, iar al doilea este folosit pentru salvarea refresh-tokenurilor de Onedrive si Google Drive,
               respectiv access-tokenului pentru Dropbox (aceasta platforma nu implementeaza conceptul de refresh-token).
            </pre>
            <img src="../static/assets/documentation/cache1.jpg" alt="cache1" class="center">
            <img src="../static/assets/documentation/cache2.jpg" alt="cache2" class="center">
            <h3 id = "modele">Modele</h3>
            <pre>
                Pentru baza de date am ales sa folosim SQLite3 din cauza modului usor in care este folosit si instalat.
                Aceasta se poate schimba relativ usor in multe alte tipuri de BD-uri relationale.
                Interactiunile cu tabelele din baza de date au fost separate logic in mai multe modele cu care interactioneaza
                direct routerul (joaca rolul unui controller).
            <pre>
            <img src="../static/assets/documentation/usermodel.jpg" alt="Model user" class="center">
           <h2 id="oauth">OAuth2</h2>
           <pre>
               Aplicatia este bazata pe OAuth2 si se foloseste de capabilitatile de Upload si Download ale providerilor GoogleDrive, Onedrive si Dropbox.
               Aplicatia este usor extensibila sa suporte mai multi provideri atata timp cat se respecta formatul impus initial-scale
               Sunt necesare doua implementari una pe backend si una pe frontend.
            </pre>
            <img src="../static/assets/documentation/oauthfront.jpg" alt="Obiect de handling oauth pentru client">
            <img src="../static/assets/documentation/oauthback.jpg" alt="Obiect de handling oauth pentru backend">
             <h2 id="wasm">WebAssembly</h2>
            <pre>
                Am ales sa folosim WebAssembly pentru o impartire eficienta a fisierelor in chunkuri direct la client.
                Aceasta permite viteze mai mari decat folosirea directa a JavaScript.
             </pre>
             <h3 id="splitter">Splitter-ul de fisiere</h3>
             <pre>
                 El reprezinta un cod simplu de C++ care ia ca input un fisier si scrie in FileSystemul din browser
                 o sumedenie de 1MB care au ca nume SHA-ul lor si contin un header pentru validare.
                 Acest header nu este folosit la momentul scrierii acestor randuri, dar isi poate gasi intrebuintare usor.
                 Fisierele sunt trimise apoi la fiecare cloud provider dupa doua metode: Egal sau Redundant. Aceasat modalitate
                 se schimba in pagina de setari. Default este egal.
                 Egal: 1/3 din chunkuri pentru fiecare cloud provider.
                 Redundant: fiecare cloud provider primeste fiecare chunk.
             
                 Codul a fost compilat utilizand emscripten  <a href="https://emscripten.org/docs/getting_started/downloads.html"></a>
            </pre>
            <img src="../static/assets/documentation/splitter.jpg" alt="Cod splitter" class="center">
            <h2 id="etape">Etapele de dezvoltare</h2>
            <ol>
                <li>1. Gandirea initiala a arhitecturii, crearea routerului, creatul templateurilor, integrearea minimala a unei baze de date. Crearea primei iteratii de pagini de front</li> 
                <li>2. Integrarea pe client a unei modalitati de impartire a unui fisier in chunckuri. A doua iteratie de frontend.</li>
                <li>3. Investigarea api-urilor expuse de cloud provideri si implementarea unor Proof Of Concepts</li>
                <li>4. Integrarea tuturor componentelor create, implemetarea loginului</li>
                <li>5. Refactorizarea mare a codului, implementarea cacheurilor</li>
            
            </ol>

        
</section>
<section>
    <h2 id = "references">Linkuri folosite:</h2>
    <ul>
        <li><a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/" target="_top">https://profs.info.uaic.ro/~busaco/teach/courses/web/</a></li>
        <li><a href="https://developer.mozilla.org/en-US/" target="_top">https://developer.mozilla.org/en-US/</a></li>
        <li><a href="https://stackoverflow.com/" target="_top">https://stackoverflow.com/</a></li>
        <li><a href="https://w3c.github.io/scholarly-html/" target="_top">https://w3c.github.io/scholarly-html/</a></li>
        <li><a href="https://www.youtube.com/" target="_top">https://www.youtube.com/</a></li>
    </ul>
</section>
</body>