<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>Your account</title>
        <link rel="stylesheet" type="text/css" href="../static/mainScreen/styles.css">
        <script src='mainScreen/options.js'></script>
        <script src="mainScreen/progress-bar.js"></script>
        <script src="wasm/splitter.js"></script>
    </head>

    <body>
        <div class="mainContainer">
            <header>
                <div class="imgContainer">
                    <img src='../assets/sigla.svg' alt="logo image" />
                </div>
                <div class="profileDetails">
                    <span class="userName" id="numeUtilizator">{{ name }}</span>
                    <button onclick="showMenu(); " class="userCircle">
                        <span class="userInitials" id="initialeUtilizator">{{ smallname }}</span>
                    </button>
                    <div id="dropdown-content" class="dropdown-content">
                        <a href="/oauth-redirect">Upload a file</a>
                        <a href="/userFiles">Your files</a>
                        <a href="/settings"> Settings </a>
                        <a href="">See documentation</a>
                        <a href="/logout">Log out</a>
                    </div>
                </div>
        </header>

        <div class="halfSize">
            <div class="accounts">

                <button class="accountBtn" id="dlt" onclick="window.location.replace('https://localhost:8000/dlt')">Your Dropbox</button>
                <button class="accountBtn" id="glt" onclick="window.location.replace('https://localhost:8000/glt')">Your Google Drive</button>
                <button class="accountBtn" id="olt" onclick="window.location.replace('https://localhost:8000/olt')">Your One Drive</button>

                <span id="errorMessage" class="errorMessage"></span>
            </div>



            <input onchange="showName();" style="display: none;" type="file" id = "file-input">

            <div id="upload-files" class="upload-files">
                <!--<button onclick="readFile()">Read file</button>-->
                <div class="choose-file-area"><button id="fileChooser" class="startButton"
                        onclick="document.getElementById('file-input').click();">Choose your file</button>
                     <div class='chosen-file'><span id='chosen-file'>No file chosen</span></div>

            </div>
            
                <button hidden id='startButton' class='startButton'
                        onclick="readFile(); showProgressBar();" style="display:none;">Upload your
                        file
                        here</button>
                <div id="progressBarContainer" class="progressBarContainer">
                    <div class="uploadDetails">
                        <span class="progressText" id="progressBarText">Progress: 0%</span>
                    </div>
                    <div id="progresBarWrapper" class="progresBarWrapper">
                        <div id="progressBar" class="progressBar"></div>
                    </div>
                </div>
                
            </div>
            <div id="tableContainer">
            </div>
        </div>
        </div>
        <p hidden id="onedrive-token">{{ o }}</p>
        <p hidden id="google-token">{{ g }}</p>
        <p hidden id="dropbox-token">{{ d }}</p>
        <p hidden id="user-email">{{ email }}</p>
        <p hidden id="upload-strategy">{{ strategy }}</p>
        <script src="stollib.js"></script>
    </body>

</html>