<!DOCTYPE html>
<html lang="en">

<head>
    <title>Your files</title>
    <link rel="stylesheet" type="text/css" href="../static/filesPage/styles.css">
    <script src='../static/mainScreen/options.js'></script>
    <script src='../static/filesPage/files.js'></script>
</head>

<body>
    <div class="mainContainer">
        <header>
            <div class="imgContainer">
                <img class="logo" src='../assets/sigla.svg' alt="logo image" />
            </div>
            <div class="profileDetails">
                <span class="userName" id="numeUtilizator">Ioana Maniga</span>
                <button onclick="showMenu(); " class="userCircle">
                    <span class="userInitials" id="initialeUtilizator">IM</span>
                </button>
                <div id="dropdown-content" class="dropdown-content">
                    <a href="/adminPage">Admin page</a>
                    <a href="/oauth-redirect">Upload a file</a>
                    <a href="/userFiles">Your files</a>
                    <a href="/settings"> Settings </a>
                    <a href="">See documentation</a>
                    <a href="/">Log out</a>
                </div>
            </div>
        </header>
        <div>
            <div id="filesList" class="filesList">
            </div>
        </div>
        <script>
            document.getElementById("numeUtilizator").innerHTML = localStorage.getItem("name") + " " + localStorage.getItem("surname");
            document.getElementById("initialeUtilizator").innerHTML = localStorage.getItem("name")[0] + localStorage.getItem("surname")[0];

        </script>
    </div>
    <p hidden id="onedrive-token">{{ o }}</p>
    <p hidden id="google-token">{{ g }}</p>
    <p hidden id="dropbox-token">{{ d }}</p>
    <p hidden id="user-email">{{ email }}</p>
    <!-- <script src="wasm/splitter.js"></script> -->
    <script src="stollib.js"></script>

</body>

</html>