<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Universal Storage Tool">
    <meta name="keywords" content="project, infoiasi, web, stol, HTML, CSS, JavaScript, C++, Web Assembly">
    <meta name="author" content="Ivanov Mihai-Cosmin, Maniga Ioana, Arhire Paul-Andrei">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/documentation/styles.css" type="text/css">
    <title>Documentatie STOL</title>
</head>

<body>
    <header>
        <h1 class="title">USER-GUIDE "CLOUDSHEETS"</h1><br>
    </header>
    <div role="contentinfo" style="font-size:1vw">
        <section typeof="sa:AuthorsList">
            <h2>AUTORI</h2>
            <ul>
                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person">
                        <meta property="schema:givenName" content="Mihai-Cosmin">
                        <meta property="schema:additionalName" content="C.">
                        <meta property="schema:familyName" content="Ivanov">
                        <span property="schema:name">Mihai-Cosmin C. Ivanov</span>
                    </span>
                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:mcivanov99@gmail.com" property="schema:email">mcivanov99@gmail.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person">
                        <meta property="schema:givenName" content="Ioana">
                        <meta property="schema:additionalName" content="V.">
                        <meta property="schema:familyName" content="Maniga">
                        <span property="schema:name">Ioana V. Maniga</span>
                    </span>
                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:ioana.mna@gmail.com" property="schema:email">ioana.mna@gmail.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul>
                <li typeof="sa:ContributorRole" property="schema:author">
                    <span typeof="schema:Person">
                        <meta property="schema:givenName" content="Paul-Andrei">
                        <meta property="schema:additionalName" content="M.">
                        <meta property="schema:familyName" content="Arhire">
                        <span property="schema:name">Paul-Andrei M. Arhire</span>
                    </span>
                    <ul>
                        <li property="schema:roleContactPoint" typeof="schema:ContactPoint">
                            <a href="mailto:paul_man70@yahoo.com"
                                property="schema:email">paul_man70@yahoo.com</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2>Cuprins</h2>
            <ol role="directory">
                <li><a href="#doc-front"><span>1. </span>Welcome page</a>
                    <ol role="directory">
                            <li><a href="#welcome"><span>1.1. </span>Log In</a></li>
                            <li><a href="#main"><span>1.2. </span>Get started</a></li>
                            <li><a href="#files"><span>1.3. </span>Documentation si user guide</a></li>
                    </ol>
                </li>   
                <li><a href="#doc-front"><span>2. </span>Main Page</a>
                    <ol role="directory">
                            <li><a href="#welcome"><span>2.1. </span>Logheaza-te in accounturile tale</a></li>
                            <li><a href="#main"><span>2.2. </span>Alege un fisier</a></li>
                            <li><a href="#files"><span>2.3. </span>Incarca fisierul</a></li>
                    </ol>
                </li>
                <li><a href="#doc-front"><span>3. </span>Your files</a>
                </li>
                <li><a href="#doc-front"><span>4. </span>Settings</a>
                </li>
                <li><a href="#doc-front"><span>5. </span>Administrator</a>
                    <ol role="directory">
                            <li><a href="#welcome"><span>4.1. </span>Lista useri</a></li>
                            <li><a href="#main"><span>4.2. </span>Selecteaza useri si descarca in format CSV</a></li>
                    </ol>
                </li>
            </ol>
                
                
        </section>
        <section >
            
</section>
</body>