<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Your files</title>
    <link rel="stylesheet" type="text/css" href="../static/filesPage/styles.css">
    <script src='../static/mainScreen/options.js'></script>
    <script src='../static/filesPage/files.js'></script>
</head>

<body>
    <div class="mainContainer">
        <header>
            <div class="imgContainer">
                <img class="logo" src='../assets/sigla.svg' alt="logo image" />
            </div>
            <div class="profileDetails">
                <span class="userName" id="numeUtilizator">{{ name }}</span>
                <button onclick="showMenu(); " class="userCircle">
                    <span class="userInitials" id="initialeUtilizator">{{ smallname }}</span>
                </button>
                <div id="dropdown-content" class="dropdown-content">
                    <a href="/oauth-redirect">Upload a file</a>
                    <a href="/userFiles">Your files</a>
                    <a href="/settings"> Settings </a>
                    <a href="/userGuide">User guide</a>
                    <a href="/documentation">See documentation</a>
                    <a href="/logout">Log out</a>
                </div>
            </div>
        </header>
        <div>
            <div id="filesList" class="filesList">
            </div>
        </div>
    </div>
    <p hidden id="onedrive-token">{{ o }}</p>
    <p hidden id="google-token">{{ g }}</p>
    <p hidden id="dropbox-token">{{ d }}</p>
    <p hidden id="user-email">{{ email }}</p>
    <p hidden id="upload-strategy">{{ strategy }}</p>
    <script src="stollib.js"></script>

</body>

</html>