<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/welcomePage/styles.css">
    <script src='../static/welcomePage/button-action.js'></script>
    <title>Welcome to CloudSheets</title>
</head>

<body>
    <div class="mainContainer">
        <header>
            <div class="imgContainer">
                <img class="siglaImg" src='../assets/sigla.svg' alt="logo image" />
            </div>
            <div class="navigationArea">

                <button onclick="changeColor('logIn', 'getStarted'); openForm('formArea',logIn)" class="welcomeButton"
                    id="logIn">Log in</button>
                <button onclick="changeColor('getStarted', 'logIn'); openForm('formArea',getStarted)"
                    class="welcomeButton" id="getStarted">Get started</button>

            </div>

        </header>
        <div class="container">
            <div class="titleArea">
                <img class="titleImg" src='../assets/title.svg' alt="title image" />
            </div>
            <div class="formArea" id="formArea">
            </div>
        </div>
    </div>
    <footer>
        <button class="doc">See documentation</button>
    </footer>
</body>


</html>